.container {
  padding: 20px 0;
}

.card {
  width: 1200px;
  padding: 20px 0;
}

.actionContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.actionContainer > * {
  font-size: 15px;
}

.Rolesheading {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.Rolesheading > span:first-child {
  font-size: 23px;
  color: #333;
}

.Rolesheading > span:last-child {
  font-size: 13px;
  color: #afafaf;
}

.header {
  display: flex;
  justify-content: space-between;
}

.roleButton {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  padding: 8px;
  background-color: #ff9f00;
  border-radius: 4px;
  font-size: 13px;
  height: 36px;
}

.userDefined {
  color: white;
  background-color: #ffb35a;
  border-radius: 4px;
  padding: 2px;
}

.Global {
  color: white;
  background-color: #70b770;
  border-radius: 4px;
  padding: 2px;
}

.middleContainer {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination select {
  border: none;
  outline: none;
  color: #42a5f5;
}

.pagination span {
  font-size: 13px;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchBar input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 30px;
  padding: 4px 8px;
  outline: none;
  font-size: 14px;
}

.shipMentTemplate {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkIcon {
  font-size: 20px;
}

.shipMentTemplate span:first-child {
  color: #333;
  font-size: 13px;
}

.shipMentTemplate span:last-child {
  color: #a1a1a1;
  font-size: 11px;
}

tr:hover {
  background-color: #f1f1f1 !important;
}
